/******************GENERAL******************/

* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Hina Mincho', serif;
    font-size: 1.6rem;
}

a {
    text-decoration: none;
    font-size: 1.8rem;
    color: rgb(35, 95, 110);
}

.container {
    max-width: 900px;
    margin: 0 auto;
    padding: 0 15px;
}

.clearfix::after{
    content: "";
    clear: both;
    display: table;
}

.active {
    background: rgb(15, 140, 223);
    border-radius: 4px;    
}

img {
    width: 100%;
}

.title {
    font-size: 2rem;
    text-transform: uppercase;
}

main {
    min-height: calc(100vh - 204.4px - 104.8px);
    padding-top: 236.4px;
}

/******************HEADER******************/

header {
    background: #5c85d6;
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 1;
    width: 100%;
}

header .logo-container {
    padding: 20px;
}

header img {
    width: 120px;
}

/******************NAVIGATION MENU******************/

nav {
    background: #50658f;
    padding: 5px;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}


nav li {
    display: inline-block;
    padding: 6px 20px 6px 20px;
}

nav li a {
    color: #ffffff;
    text-transform: uppercase;
    display: inline-block;
}

/******************GALLERY******************/

#gallery {
    padding-top: 15px;
    padding-bottom: 15px;
}

#gallery img {
    width: 100%;
}

#gallery .item {
    float: left;
    width: 50%;
    padding: 10px;
    position: relative;
}

#gallery .caption {
    background: #f0f0f0;
    padding: 10px;
}

#gallery .caption p {
    margin: 0;
}

#gallery .picture {
    line-height: 0;
}

#gallery .caption img {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
}

/******************ABOUT******************/

#about img {
    border-radius: 100%;
    padding: 25px 0;
}

/******************CONTACT******************/

#contact ul {
    list-style-type: none;
    padding: 0;
}

#contact li {
    padding: 6px 0;
}

#contact .material-icons {
    float: left;
    padding: 3px 0;
}

#contact .contacts a {
    margin: 3px 0 0 5px;
    display: inline-block;
}

/******************FOOTER******************/

footer.main {
    text-align: center;
    padding: 15px;
}

footer.main img {
    width: 22px;
}

footer.main a {
    display: inline-block;
    padding: 5px 10px;
}

footer.main p {
    font-size: 1.3rem;
}

@media only screen and (min-width: 768px) {

/******************GALLERY******************/

    #gallery .item {
        width: 33.3333%;
    }

    #gallery .item:nth-child(3n + 1) {
        clear: left;
    }

/******************ABOUT******************/

    #about img {
        width: 70%;
    }

    #about .profile-pic {
        float: left;
        width: 50%;
        padding: 15px;
        text-align: center;
    }

    #about .description {
        float: right;
        width: 50%;
        padding: 30px 15px;
    }
}

/******************CONTACT******************/

    #contact .info, #contact .contacts {
        padding: 15px;    
    }

    #contact .info {
        float: left;
        width: 70%;
        padding: 15px;
    }

    #contact .contacts {
        float: right;
        width: 30%;
        padding: 15px;
    }

@media only screen and (min-width: 992px) {

/******************GALLERY******************/

    nav li a {
        transition: background .3s;
    }

    nav li a:hover {
        background: rgb(15, 140, 223);
        border-radius: 4px;
    }

    #gallery .item {
        transition: opacity .3s;
    }

    #gallery .item:hover {
        opacity: .7;
    }

}

@media only screen and (max-width: 767px) {

    #gallery .item:nth-child(2n + 1) {
        clear: left;
    }

}
